.bg {
  position: absolute;
  width   : 100%;
  height  : 100%;
  overflow: hidden;
}

.planet {
  width           : 20vh;
  height          : 20vh;
  position        : fixed;
  background-image: var(--gradient-text);
  opacity         : .1;
  border-radius   : 50%;
  transform       : translate(12rem, 120vh);
  animation       : planet 100s linear;

  &.horizontal {
    position : fixed;
    top      : 50rem;
    right    : 20rem;
    transform: unset;
    width    : 2vw;
    height   : 2vw;
    opacity  : .1;
    animation: unset;
  }
}


.moon {
  width           : 10vh;
  height          : 10vh;
  position        : fixed;
  top             : 5rem;
  right           : 3rem;
  border-radius   : 50%;
  border          : none;
  background-image: linear-gradient(to right, var(--cyan) 0%, var(--green) 100%);
  opacity         : .2;

  &:before {
    content         : "";
    width           : 10vh;
    height          : 10vh;
    border-radius   : 50%;
    background-color: #221e3f;
    position        : absolute;
    transform       : translateX(25rem);
    animation       : moon 80s 5s linear;
  }
}

@keyframes moon {
  0% {
    transform: translate3d(-20rem, -10rem, 0);
  }

  100% {
    transform: translate3d(25rem, 12.5rem, 0);
  }
}

@media(min-width: 768px) {
  .planet {
    width : 20vw;
    height: 20vw;
  }

  .moon {
    top   : 3rem;
    right : 7rem;
    width : 12vw;
    height: 12vw;

    &::before {
      width : 12vw;
      height: 12vw;
    }
  }
}





$speed      : 2s;
$tail-count : 3;

@function randNum($min, $max) {
  $randNum: $min + floor(random()* (($max - $min) + 1));
  @return $randNum;
}


.comet {
  display        : inline-flex;
  flex-direction : column;
  position       : fixed;
  top            : -10rem;
  left           : -20rem;
  height         : 10rem;
  width          : 22rem;
  z-index        : 2;
  padding-right  : 4rem;
  justify-content: space-around;
  align-items    : flex-end;
  border-radius  : 0 30% 30% 0;
  opacity        : .8;
  will-change    : transform, opacity;
  animation      : cometAnimateMobile 30s 6s linear infinite;


  @media(min-width: 768px) {
    animation: cometAnimateWeb 30s 6s linear infinite;
  }

  .head {
    height          : 10rem;
    width           : 10rem;
    border          : 10rem;
    border          : 1rem solid var(--green-dark);
    border-radius   : 50%;
    position        : absolute;
    top             : 0;
    right           : 0;
    bottom          : 0;
    margin          : auto;
    background-color: var(--green);
    overflow        : hidden;
    z-index         : 3;

    &::before {
      content         : "";
      position        : absolute;
      height          : 100%;
      width           : 100%;
      right           : 20%;
      bottom          : 20%;
      border-radius   : inherit;
      background-color: rgba(lighten(#fff, 30%), .5);
    }


    span {
      position     : absolute;
      left         : 0;
      right        : 0;
      bottom       : 0;
      margin       : auto;
      border       : .4rem solid var(--green-dark);
      border-radius: 50%;
      opacity      : 0;
      animation    : cometParticles $speed/1.5 6s linear infinite;
      top          : 30%;
      height       : 1.2rem;
      width        : 1.2rem;

    }
  }

  .tail {
    position       : relative;
    height         : 1rem;
    display        : inline-flex;
    justify-content: space-between;
    border-radius  : 10rem;
    overflow       : hidden;

    span {
      display      : inline-flex;
      position     : relative;
      width        : 100%;
      height       : 100%;
      border-radius: 10rem;
      background   : var(--green);
      animation    : tailAnimation $speed/3 6s linear infinite;
      opacity      : 0;
    }
  }

  @for $i from 1 through $tail-count {
    .tail:nth-of-type(#{$i}) {
      width: #{(randNum(50, 90)) * 1%};

      span {
        margin         : 0 #{randNum(4,8) *1%};
        animation-delay: #{$i * (($speed / 3) / $tail-count)};
      }
    }
  }
}


@keyframes tailAnimation {
  0% {
    transform: translate3d(10rem, 0, 0);
    opacity  : 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform       : translate3d(-10rem, 0, 0);
    background-color: var(--cyan);
    opacity         : 0;
  }
}


@keyframes cometParticles {
  0% {
    transform: translate3d(-10rem, 0, 0);
    opacity  : 1;
  }

  100% {
    opacity  : 0;
    transform: translate3d(10rem, 0, 0);
  }
}

@keyframes cometAnimateMobile {
  0% {
    transform: rotate(45deg) translate3d(0, 0, 0);
  }

  15% {
    transform: rotate(45deg) translate3d(100vw, 4.5rem, 0);
  }

  30%,
  100% {
    transform: rotate(45deg) translate3d(220vw, 4.5rem, 0);
  }
}

@keyframes cometAnimateWeb {
  0% {
    transform: rotate(20deg) translate3d(-100%, 0, 0);
  }

  15% {
    transform: rotate(20deg) translate3d(60vw, 1rem, 0);
  }

  30%,
  100% {
    transform: rotate(20deg) translate3d(140vw, 1rem, 0);
  }
}

@keyframes planet {
  0% {
    transform: translate3d(12rem, 0, 0);
  }

  50% {
    transform: translate3d(10rem, 60vh, 0);
  }

  100% {
    transform: translate3d(15rem, 120vh, 0);
  }
}