.cards {
  position             : relative;
  padding              : 0;
  display              : grid;
  gap                  : 40px;
  width                : 100vw;
  flex-direction       : column;
  justify-content      : center;
  align-items          : center;
  grid-template-columns: repeat(auto-fit, minmax(0, 300px));
}

.card {
  position      : relative;
  margin        : 40px 20px;
  border-radius : 5px;
  height        : 100%;
  display       : flex;
  flex-direction: column;
}

.front,
.back {
  border-radius      : 5px;
  display            : flex;
  flex-direction     : column;
  width              : 100%;
  height             : 100%;
  backface-visibility: hidden;
  transition         : transform .6s linear;
}


.front {
  transform: perspective(600px) rotateY(0deg);
}

.head {
  background-color: #fff;
  border-radius   : 5px 5px 0 0;
  position        : relative;
  height          : 100%;
  transition      : all 0.5s ease-in-out;
  flex            : 3;

  img {
    border-radius: 5px 5px 0 0;
    object-fit   : cover;
    height       : 100%;
    transition   : transform 0.5s ease-out;
  }
}



.info {
  border-radius   : 0 0 5px 5px;
  margin          : 0;
  position        : relative;
  flex            : 1;
  padding         : 20px;
  font-family     : sans-serif;
  background-color: #fff;
  color           : #333;
  font-size       : 1.6rem;
  line-height     : 1.5;

  .name {
    color      : var(--bg-color);
    font-weight: normal;
    font-size  : 1.8rem;
  }
}



.back {
  position   : absolute;
  top        : 0;
  font-weight: 400;
  height     : 100%;
  width      : 100%;
  transform  : perspective(600px) rotateY(180deg);
}

.ecommerce {
  background-color: #335;

  button {
    background-color: #338;
    color           : #fff;
  }
}

.restaurant {
  background-color: #9c1b24;

  button {
    background-color: #ed4852;
    color           : #fff;
  }
}

.responsive {
  background-color: #ddd;
  color           : #333;

  button {
    background-color: #e56399;
    color           : #fff;
  }
}

.back-content {
  padding    : 20px;
  font-family: sans-serif;
  line-height: 1.6;
  font-size  : 1.6rem;
  width      : 100%;
}

.sm {
  font-size      : 1.8rem;
  transition     : .4s;
  margin-top     : 10px;
  color          : #333;
  display        : flex;
  justify-content: center;
  align-items    : center;
  flex-wrap      : wrap;

  a {
    flex  : 1;
    margin: 5px;
  }

  button {
    min-width      : 70px;
    border-radius  : 5px;
    width          : 100%;
    border         : none;
    padding        : 10px 0;
    font-weight    : normal;
    font-family    : "Fredoka One", sans-serif;
    text-transform : uppercase;
    font-size      : 1.4rem;
    justify-content: center;
    align-items    : center;
    display        : flex;
    cursor         : pointer;

    i {
      margin-right: 5px;
    }
  }
}

.card:hover>.front,
.card:active>.front,
.card:enabled>.front,
.card:focus>.front {
  transform: perspective(800px) rotateY(-180deg);
}

.card:hover>.back,
.card:focus>.back {
  transform: perspective(800px) rotateY(0deg);
}