.cards {
  position             : relative;
  padding              : 0;
  display              : grid;
  gap                  : 4rem;
  width                : 100vw;
  flex-direction       : column;
  justify-content      : center;
  align-items          : center;
  grid-template-columns: repeat(auto-fit, minmax(0, 26rem));
}

.card {
  position      : relative;
  border-radius : .5rem;
  height        : 100%;
  display       : flex;
  flex-direction: column;
}

.front,
.back {
  border-radius      : .5rem;
  display            : flex;
  flex-direction     : column;
  width              : 100%;
  height             : 100%;
  backface-visibility: hidden;
  transition         : transform .6s linear;
}


.front {
  background-color: #fff;
  transform       : perspective(60rem) rotateY(0deg);
}

.head {
  border-radius: .5rem .5rem 0 0;
  border       : transparent;
  position     : relative;
  height       : 100%;
  transition   : all 0.5s ease-in-out;
  flex         : 3;

  img,
  picture {
    border-radius   : .5rem .5rem 0 0;
    background-color: #fff;
    object-fit      : cover;
    height          : 100%;
    transition      : transform 0.5s ease-out;
  }
}



.info {
  border-radius   : 0 0 .5rem .5rem;
  margin          : 0;
  position        : relative;
  flex            : 1;
  padding         : 2rem;
  font-family     : sans-serif;
  background-color: #fff;
  color           : #333;
  font-size       : 1.6rem;
  line-height     : 1.5;

  .name {
    color      : var(--bg-color);
    font-weight: normal;
    font-size  : 1.8rem;
  }
}



.back {
  position   : absolute;
  top        : 0;
  font-weight: 400;
  height     : 100%;
  width      : 100%;
  transform  : perspective(60rem) rotateY(180deg);
}

.ecommerce {
  background-color: #335;

  button {
    background-color: #338;
    color           : #fff;
  }
}

.restaurant {
  background-color: #9c1b24;

  button {
    background-color: #ed4852;
    color           : #fff;
  }
}

.responsive {
  background-color: #f9f9f9;
  color           : #555;

  button {
    background-color: #e56399;
    color           : #fff;
  }
}

.node-auth {
  background-color: #091540;

  button {
    background-color: dodgerblue;
    color           : #fff;
  }
}

.live-chat {
  background-color: #f9f9f9;
  color           : #555;

  button {
    background-color: #575ed8;
    color           : #fff;
  }
}

button:disabled {
  background-color: gray;
}

.back-content {
  padding    : 2rem;
  font-family: sans-serif;
  line-height: 1.6;
  font-size  : 1.6rem;
  width      : 100%;
}

.sm {
  font-size      : 1.8rem;
  transition     : .4s;
  margin-top     : 1rem;
  color          : #333;
  display        : flex;
  justify-content: center;
  align-items    : center;
  flex-wrap      : wrap;

  a {
    flex  : 1;
    margin: .5rem;
  }

  button {
    min-width      : 7rem;
    border-radius  : .5rem;
    width          : 100%;
    border         : none;
    padding        : 1rem 0;
    font-weight    : normal;
    font-family    : "Fredoka One", sans-serif;
    text-transform : uppercase;
    font-size      : 1.4rem;
    justify-content: center;
    align-items    : center;
    display        : flex;
    cursor         : pointer;

    i {
      margin-right: .5rem;
    }
  }
}

.card:hover>.front,
.card:active>.front,
.card:enabled>.front,
.card:focus>.front {
  transform: perspective(80rem) rotateY(-180deg);
}

.card:hover>.back,
.card:focus>.back {
  transform: perspective(80rem) rotateY(0deg);
}